# Object file
*.o

# Ada Library Information
*.ali

.idea


yarn.lock


node_modules

.ftpconfig

.umi
/src/pages/.umi
.temp

pkg


dist
build
backend/src/github.com/go-redis/redis/
backend/src/github.com/ugorji/go/codec/codecgen/go.sum
backend/src/github.com/ugorji/go/codec/go.sum
backend/src/github.com/ugorji/go/go.sum

backend/src/gopkg.in/yaml.v2/go.sum
application/package-lock.json

backend/src/golang.org/x/time/
backend/src/github.com/aliyun/aliyun-oss-go-sdk
